<div class="modal-overlay" *ngIf="mostrarModalAprobar">
    <div class="modal-content">
        <header class="modal-header">
            <h2 class="modal-title">Rechazar Solicitud</h2>
            <button class="close-x" (click)="cerrarModal()">X</button>
        </header>

        <div class="modal-body">
            <div class="info-grid">
                <div class="info-item">
                    <label>Alumno:</label>
                    <p>{{ solicitudSeleccionada.alumno?.nombre }}</p>
                </div>
                <div class="info-item">
                    <label>Tipo:</label>
                    <p>{{ solicitudSeleccionada.tipo }}</p>
                </div>
                <div class="info-item">
                    <label>Material:</label>
                    <p>{{ solicitudSeleccionada.material?.nombre }}</p>
                </div>
                <div class="info-item">
                    <label>Fecha Solicitud</label>
                    <p>{{ solicitudSeleccionada.createdAt | date:'dd/MM/yyyy' }}</p>
                </div>
            </div>

            <div class="input-section">
                <label class="required">Motivo de rechazo</label>
                <textarea 
                    [(ngModel)]="motivoRechazo" 
                    placeholder="Ej: Material no disponible, solicitud duplicada, datos incorrectos..."
                    rows="4">
                </textarea>
            </div>
        </div>

        <footer class="modal-footer">
            <button class="btn-cancelar" (click)="cerrarModal()">Cancelar</button>
            <button class="btn-confirmar " (click)="confirmarRechazo()">Confirmar</button>
        </footer>
    </div>
</div>
